@charset "utf-8";

/*Cabeçalho*/
.cabecalho{
    display: flex;
    height: 150px;
    background: linear-gradient(to right, #0fff, #a52a2a);
    align-items: center;
    border-bottom: 2px solid #000;
}
.cabecalho_menu-lista--item{
    display: inline;
    margin-left: 10px;
}
.cabecalho_menu-lista--item a{
    font-size: 17px;
    background-color: #22bb36;
    padding: 16px;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.521);
}
.cabecalho_menu-lista--item a:hover{
    background-color: #59da6a;
}
.cabecalho_logo-site{
    margin-left: 890px;
    border-radius: 5px;
}

/*Conteudo*/
.corpo_site{
    background-color: #ccc;
}
.conteudo_site{
    background-color: #fff;
    width: 1300px;
    margin: auto;
    text-align: justify;
    border: 1px solid rgb(0, 0, 0);
    padding-top: 50px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}
section h1{
    font-size: 30pt;
    margin-bottom: 30px;
    text-decoration: underline #0ff 4px;
}
.introducao{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}
/*Questões*/
.txtquest1{
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    width: 900px;
}
.txtquest2{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    width: 900px;
    margin-top: 100px;
}
.txtquest3{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    width: 900px;
    margin-top: 100px;
}
input{
    cursor: pointer;
}
.alternativas{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
/* Resposta das questões */
.btnverificar{
    display: inline-block;
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #22bb36;
    color: #fff;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    margin-left: 10px;
}
.resposta1{
    padding: 0px 0px 10px 30px;
    margin-bottom: 10px;
    font-size: 14pt;
}
.resposta2{
    padding: 0px 0px 10px 30px;
    margin-bottom: 10px;
    font-size: 14pt;
}
.resposta3{
    padding: 0px 0px 10px 30px;
    margin-bottom: 10px;
    font-size: 14pt;
}
details{
    padding-top: 10px;
    background-color: #aaa;
    width: 900px;
    border-radius: 10px;
}
summary{
    display: flex;
    background: #00f;
    width: 900px;
    height: 30px;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    
}
details p{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    width: 700px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.details3{
    margin-bottom: 40px;
}

/* Rodapé */
.rodape{
    background-color: #3d3d3d;
    color: #0ff;
    padding: 50px 0px 15px 0px;
}
.rodape_secao{
    display: flex;
    justify-content: space-evenly;
}
.rodape_introducao p{ 
    font-size: 1.1rem;
    line-height: 1.15;
}
.rodape_redesSociais h2{
    font-size: 1.15rem;
    line-height: 1.15;
    margin-bottom: 10px;
}
